Exercise 1

In [2]:
(10+5*3)
(10+5)*3
20 / 4
20 // 4
21 // 4 
21 % 4
2 ** 5

32

In [4]:
5 + 3 * 2 - 8 / 4 ** 2
50 > 100
33 ==33.0
'hello' != "world"
a = 'phyton'
len(a) >= 5

True

In [28]:
a = 'city'
city = 'new_york'
print(city)
city = 'london'
print(city)

new_york
london

In [32]:
score = 100
a = score - 25
b = a* 2
print(b)

150

1 yes
2 yes
3 no
4 yes
5 no

1 int
2 string
3 float
4 bool
5 nonetype

In [ ]:
a = '25.99'
b = 3
float(a)
print(a)

25.99

In [1]:
a = 3
str(a)
print(a)

3

In [18]:
price_str = '25.99'
price_float = float(price_str)
print(price_float)
quantity = 3
quantity = str(quantity)
print(quantity)
items = (price_str + quantity)
print(items)

25.99
3
25.993

In [22]:
a = 'sagibet'
b = 'sultanli'
c = a + " " + b
print(c)
c + '-'*30

sagibet sultanli

'sagibet sultanli------------------------------'

In [7]:
a = 'sagy'
b = 'sultanli'
c = (a + " " + b)
print(c)
d = c.split(" ")
print(d)

sagy sultanli
['sagy', 'sultanli']

In [14]:
a = 'The file is located at:' + '\nC:\\Users\\new_folder\\tabbed_file.txt'
c = '\nHe said, It\'s a beautiful day.'
print(a + " " + c)

The file is located at:
C:\Users\new_folder\tabbed_file.txt
He said, It's a beautiful day.

In [4]:
s = 'Programming is fun!'
print(s[4])
print(s[17])
print(s[11:13])
print(s[3:7])
print(s[-19:])

r
n
 i
gram
Programming is fun!

In [5]:
a = "  WOW, what a great game! #sports #python  "
print(a.lower())
print(a.strip())
print(a.replace('#python','DataScience'))
print(a.split(" "))

  wow, what a great game! #sports #python
WOW, what a great game! #sports #python
  WOW, what a great game! #sports DataScience
['', '\xa0WOW,', 'what', 'a', 'great', 'game!', '#sports', '#python', '\xa0']

In [11]:
a = input('ad:')
print(f'hello, {a}!')

hello, sagy!

In [18]:
a = int(input('year'))
b = int(input('birth year'))
c = a - b
print(c)

20

In [16]:
item = "Laptop"
price = 1200.50
quantity = 2
total_cost = price * quantity
print(f'Item:{item}, Quantity:{quantity}, Total_cost: ${total_cost}')

Item:Laptop, Quantity:2, Total_cost: $2401.0